* {
  font-family: 'Montserrat';
  color: black;
}

.navbar {
  -webkit-box-shadow:0 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.75);
}

.navbar-brand {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 28px;
}

@media screen and (min-width: 992px){
  .navbar-link {
      margin-right: 50px;
  }
}
.navbar-link {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 18px;
  color: #000000;
}

.fab {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.fab-btn {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  width: 50px;
  margin: 20px;
}

.sidebar-social {
  width: 30px;
}

.header {
  font-weight: 900;
  font-size: 40px;
  /* NOT SUPPORTED BY BROWSERS */
  /* font-stretch: ultra-condensed; */ 
  width: 60%;
  line-height: 60px;
}

.info {
  font-weight: 300;
  font-size: 16px;
  width: 70%;
  line-height: 30px;
}

.email {
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
}

.section-header {
  font-weight: 900;
  font-size: 60px;
}

.project-image {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.project-title {
  font-weight: 900;
  font-size: 30px;
}

.project-role {
  font-weight: 500;
  font-size: 20px;
  color: #777777;
}

.project-description {
  line-height: 30px;
}

.subsection-header {
  display: inline;
  font-weight: 900;
  font-size: 40px;
}

.repo {
  background-color: #F2F2F2;
  border-radius: 10px;
  border-radius: 10px !important;
  min-height: 200px !important;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.repo-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #464646;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.repo-subtitle {
  font-size: 12px;
}

.repo-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 15px 0 25px 0;
  color: #777777;
}

.fork {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.repo-language {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 5px 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.shot {
  border-radius: 0px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

footer {
  background-color:#262628;
  border-top: 10px solid #6067FA;
}

.download-btn {
  font-weight: 900;
  font-size: 30px;
  text-decoration: underline; 
}

.footer-content {
  color: #818490;
}

.download-seperator {
  background-color: #FF4B13;
}

.footer-line {
  background-color: #ffffff;    
}

.footer-text {
  margin: 5px 0;
  font-size: 14px;
  color: #818490;
}

.footer-logo {
  font-weight: 900;
  font-size: 50px;
  margin: -10px 0px;
}

.footer-social {
  width: 30px;
}

/* Tablet */

@media screen and (max-width: 769px) {
  .container {
      padding: 0 50px;
  }

  .navbar {
      padding: 10px 50px;
  }

  .navbar-brand {
      font-size: 35px;
  }

  .sidebar-social {
      width: 40px;
  }

  .fab-btn {
      width: 70px;
  }

  .header {
      font-weight: 900;
      font-size: 45px;
      /* NOT SUPPORTED BY BROWSERS */
      /* font-stretch: ultra-condensed; */ 
      width: 90%;
      line-height: 70px;
  }
  
  .info {
      font-weight: 300;
      font-size: 20px;
      width: 90%;
      line-height: 40px;
  }

  .project-description {
      line-height: 30px;
  }
}

/* Mobile */

@media screen and (max-width: 479px){
  .container {
      padding: 0 25px;
  }

  .navbar {
      padding: 0 25px;
  }

  .navbar-link {
      font-size: 16px;
  }

  .nav-item {
      text-align: center;
  }

  .sidebar-social {
      width: 30px;
  }

  .fab-btn {
      width: 50px;
  }

  .header {
      font-size: 25px;
      width: 90%;
      line-height: 38px;
  }

  .info {
      font-weight: 300;
      font-size: 16px;
      width: 90%;
      line-height: 30px;
  }

  .section-header {
      font-size: 40px;
  }

  .project-title {
      font-size: 25px;
  }

  .download-btn {
      font-size: 20px;
  }

  .fab-btn {
      margin: 0 -10px;
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}